@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;700;800&display=swap');

:root{
    --light-cyan: hsl(193, 38%, 86%);
    --neon: hsl(150, 100%, 66%);
    --grayish-blue: hsl(216, 19%, 38%);
--grayish-blue: hsl(217, 19%, 24%);
--dark-blue: hsl(218, 23%, 16%);

}



*,*::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}
body{
    min-height: 100vh;
    background-color:var(--dark-blue) ;
    font-size: 28px;
    display: flex;
    justify-content:center ;
    align-items: center;
    font-family: "Manrope", sans-serif;

}
main{
    width:375px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--grayish-blue);
    padding: 1rem;
    border-radius: 1rem;
    position: relative;
}
h1{
    font-size: 1rem;
    color: var(--neon);
    font-weight: 800;
}
blockquote{
    padding: 1rem 0;
    text-align: center;
}
#quote{
    font-size: 1.4rem;
    color: var(--light-cyan);
}
.divider{
    padding-bottom:1.8rem;
}


.button-container{
position:absolute ;
bottom: -20px;
    border-radius: 50%;
    background-color: var(--neon);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
button{
border: 0;
outline: 0;
display: flex;
cursor: pointer;
background-color: transparent;
}
.button-container:hover{
    filter: drop-shadow(0 0 0.75rem rgb(82, 255, 168));
    
}
.rotate{
    animation: rotation 2s infinite linear;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
@media screen and (min-width:1440px) {
    main{
width: 480px;
    }
    
}
